<div id="<%= dom_id party %>">
  <div class="flex flex-col text-sm justify-start flex-wrap gap-2">
    <div class="flex flex-row flex-wrap gap-2">
      <span class="font-medium">Identificación:</span>
      <%= party.identification %>
    </div>
    <div class="flex flex-row flex-wrap gap-2">
      <span class="font-medium">Nombre:</span>
      <%= party.name %>
    </div>
  </div>
</div>
