<div id="<%= dom_id period %>">
  <div class="flex flex-col text-sm justify-start flex-wrap gap-2">
    <div class="flex flex-row flex-wrap gap-2">
      <span class="font-medium">Periodo:</span>
      <%= period.start_year %> - <%= period.end_year %>
    </div>
  </div>
</div>
