<div id="<%= dom_id municipality %>">
  <div class="flex flex-col text-sm justify-start flex-wrap gap-2">
    <div class="flex flex-row flex-wrap gap-2">
      <span class="font-medium">Código DANE:</span>
      <%= municipality.daneCode %>
    </div>
    <div class="flex flex-row flex-wrap gap-2">
      <span class="font-medium">Nombre:</span>
      <%= municipality.name %>
    </div>
  </div>
</div>
